@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@500&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans";
}

html {
  font-size: 62.5%;
}

body {
  background-color: #130f40;
  padding: 0 .2rem 0 .2rem;
  /* Scroll Bar */
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar::-track {
  background: #1e1e24;
}

body::-webkit-scrollbar::-thumb {
  background: #fff;
}

@-webkit-keyframes moving-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moving-right {
  0% {
    opacity: 0;
    -webkit-transform: translate(-10rem);
            transform: translate(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moving-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moving-left {
  0% {
    opacity: 0;
    -webkit-transform: translate(10rem);
            transform: translate(10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes moveInBottomUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottomUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-links li {
  margin: 0 1rem;
  padding: 1rem;
  position: relative;
}

.navbar .nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f1e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 2rem;
}

.navbar .nav-links li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 15%;
  left: 0;
  background: white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.navbar .nav-links li a:hover {
  color: white;
}

.navbar .nav-links li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav {
  position: relative;
}

.line {
  width: 40px;
  height: 4px;
  background: white;
  margin: 5px;
  border-radius: 2px;
  position: absolute;
  top: 14px;
  right: 6px;
  transition: 0.3s;
}

.line1 , .line2 {
  position: absolute;
  height: 4px;
  width: 40px;
  border-radius: 2px;
  background-color: white;
  transition: 0.4s;
}

.hamburger-inner {
  position: relative;
  height: 100%;
}

.hamburger {
  position: absolute;
  cursor: pointer;
  right: 2%;
  top: 50%;
  height: 5rem;
  width: 5.5rem;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
  z-index: 2;
}

.line1 {
  top: 9px;
  transform: translateX(5px);
}

.line2 {
  top: 30px;
  transform: translateX(4px);
}

.hamburger.changer .hamburger-inner .line {
  opacity: 0;
}

.hamburger.changer .hamburger-inner .line1 {
  transition: 0.4s;
  top: 19px;
  right: 4px;
  transform: rotate(40deg);
}

.hamburger.changer .hamburger-inner .line2 {
  transition: 0.4s;
  top: 20px;
  right: 4px;
  transform: rotate(-40deg);
}

.nav-links {
  position: fixed;
  background: none;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav-links.open {
  opacity: 1;
  pointer-events: all;
}

.nav-links li {
  opacity: 0;
}

.nav-links li a {
  font-size: 4rem;
}

li.fade {
  opacity: 1;
}

.active {
  background-color: #12141483;
  width: 100vw;
  color: black;
  -webkit-transition: all .8s;
  transition: all .8s;
}

header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(20, 136, 204, 0.8)), to(rgba(43, 50, 178, 0.8))), url("/img/image1.jpg");
  background-image: linear-gradient(to right bottom, rgba(20, 136, 204, 0.8), rgba(43, 50, 178, 0.8)), url("/img/image1.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
          clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.primary-heading {
  text-transform: uppercase;
  color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.primary-heading-main {
  font-size: 6rem;
  font-weight: 600;
  padding-left: 1.4rem;
  font-family: 'Raleway', sans-serif;
  display: block;
  letter-spacing: 1.25rem;
  -webkit-animation: moving-right 1.3s ease-in;
          animation: moving-right 1.3s ease-in;
}

.main-head-part{
    color: rgb(255, 30, 30);
}

.primary-heading-sub {
  font-size: 20px;
  font-weight: 700;
  display: block;
  color: #fbc531;
  letter-spacing: .75rem;
  -webkit-animation: moving-left 1.3s ease-in;
          animation: moving-left 1.3s ease-in;
}

.logo-box {
  position: absolute;
  top: -17px;
  left: -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.logo {
  height: 15rem;
  background: none;
  z-index: 2;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 10rem;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 900;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-white {
  background-color: #fff;
  color: #222;
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
  color: #777;
}

.btn:hover::after {
  -webkit-transform: scale3d(1.4, 1.6, 1);
          transform: scale3d(1.4, 1.6, 1);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottomUp .8s ease-in .75s;
          animation: moveInBottomUp .8s ease-in .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#main-intro {
  margin-top: 2rem;
  background: #1e3c72;
  background: -webkit-gradient(linear, left top, right bottom, from(#030a35), to(#3438f5));
  background: linear-gradient(to bottom right, #030a35, #3438f5);
  padding: 3rem;
  /* clip-path: polygon(50% 0%, 100% 10%, 100% 85%, 50% 100%, 0 85%, 0 10%); */
  padding-bottom: 2.5rem;
  border: 2rem solid white;
}

#heading-text {
  font-size: 7rem;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 1rem 2rem;
  color: #acff3e;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.section-text {
  margin-top: 3rem;
}

.text-content {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 4rem 10%;
  padding: 1rem;
  color: #ffeaa7;
  word-wrap: normal;
  background: #636e722a;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.text-content span {
  color: #fbc531;
}

.text-content span p {
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: #eb2f06;
  display: inline;
}

#project-intro {
  height: 100vh;
  margin-top: 2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(20, 137, 204, 0.8)), to(rgba(43, 50, 178, 0.6))), url("/img/project-back-2.jpg");
  background-image: linear-gradient(to right bottom, rgba(20, 137, 204, 0.8), rgba(43, 50, 178, 0.6)), url("/img/project-back-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 3rem;
  /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0 100%); */
  border: 2rem solid white;
}

#footer {
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000f66), to(#380069));
  background-image: linear-gradient(to bottom, #000f66, #380069);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  position: relative;
}

.one {
  padding: 6rem 12rem;
  width: 50%;
}

.two {
  padding: 2rem 10rem;
  width: 50%;
  position: relative;
}

#footer-head {
  font-size: 4.5rem;
  font-weight: 500;
  text-align: center;
  color: #ff2600;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.footer-div-head {
  color: white;
  font-size: 4.5rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.headpart {
  color: #f52e2e;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.two h2 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1.5rem;
  font-weight: 500;
  color: thistle;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.footer-icon-holder {
  font-size: 3rem;
  margin-top: 0.7rem;
  margin-left: 3rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.span1 {
  color: yellow;
}

.email-input {
  width: 88%;
  height: 3.8rem;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  border-radius: 2rem;
  margin-bottom: 1rem;
  border: none;
  color: black;
  outline-style: none;
}

.text-input {
  width: 100%;
  height: 10rem;
  border-radius: 1.2rem;
  resize: none;
  padding: 0.9rem 1.2rem;
  font-weight: 600;
  outline-style: none;
}

.two form button {
  position: absolute;
  top: 6.8rem;
  right: 10.5rem;
  border: none;
  padding-bottom: 0rem;
  border-radius: 1rem;
  font-size: 4rem;
  height: 0rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #15ad15;
  color: white;
  outline-style: none;
}

.two form button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #39dd39;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
  margin: 0.3rem 0.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ccc8c8;
}

.icon1:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #032cb3;
}

.icon2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #0495f5;
}

.icon3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #d80404;
}

.icon4:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #ff4d4d;
}

.icon5:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

.icon6:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #535c68;
}

.end-footer-text {
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.end-footer-text p {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.end-footer-text p a {
  color: Yellow;
  text-decoration: none;
}

#about-us {
  height: 82rem;
  margin-top: 2rem;
  background: #1e3c72;
  background: -webkit-gradient(linear, left top, right bottom, from(#030a35), to(#3438f5));
  background: linear-gradient(to bottom right, #030a35, #3438f5);
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 15%, 50% 0, 0 15%);
          clip-path: polygon(0 100%, 100% 100%, 100% 15%, 50% 0, 0 15%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: justify;
      -ms-flex-align: justify;
          align-items: justify;
  position: relative;
  border-bottom: 1rem solid white;
}

#about-us #head-main-about {
  position: absolute;
  top: 5%;
  left: 28%;
  font-size: 8rem;
  font-weight: 500;
  margin: 6rem;
  color: white;
  font-family: "lato", sans-serif;
  -webkit-animation: moveInBottomUp 1s linear;
          animation: moveInBottomUp 1s linear;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#about-us .buttons .btn-gautam {
  position: absolute;
  top: 50%;
  left: 40%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#about-us .buttons .btn-avninder {
  position: absolute;
  top: 60%;
  left: 40%;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#about-us .buttons .btn-red {
  background-color: #c0392b;
  color: #f1c40f;
  width: 25rem;
  font-size: 1.5rem;
  text-align: center;
}

.card-gautam .middle {
  position: absolute;
  left: 6%;
  top: 35%;
}

.card-gautam .card {
  cursor: pointer;
  width: 32rem;
  height: 45rem;
  -webkit-animation: moving-right 1s linear;
          animation: moving-right 1s linear;
}

.card-gautam .card .front, .card-gautam .card .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}

.card-gautam .card .front img {
  height: 100%;
}

.card-gautam .card .front {
  -webkit-transform: perspective(60rem) rotateY(0deg);
          transform: perspective(60rem) rotateY(0deg);
}

.card-gautam .card .back {
  background: #f1f1f1;
  -webkit-transform: perspective(60rem) rotateY(180deg);
          transform: perspective(60rem) rotateY(180deg);
}

.card-gautam .card .back .back-content {
  color: #2e3c50;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-gautam .card .back .back-content .sm a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e3c50;
  font-size: 18px;
  -webkit-transform: 0.4s;
          transform: 0.4s;
  border-radius: 50%;
  text-decoration: none;
}

.card-gautam .card .back .back-content .sm a:hover {
  background: #2e3c50;
  color: white;
}

.card-gautam .card:hover > .back {
  -webkit-transform: perspective(60rem) rotateY(0deg);
          transform: perspective(60rem) rotateY(0deg);
}

.card-gautam .card:hover > .front {
  -webkit-transform: perspective(60rem) rotateY(-180deg);
          transform: perspective(60rem) rotateY(-180deg);
}

.card-avninder .middle {
  position: absolute;
  left: 65%;
  top: 35%;
}

.card-avninder .card {
  cursor: pointer;
  width: 34rem;
  height: 45rem;
  -webkit-animation: moving-left 1s linear;
          animation: moving-left 1s linear;
}

.card-avninder .card .front, .card-avninder .card .back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  position: absolute;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}

.card-avninder .card .front img {
  height: 100%;
  position: absolute;
  right: -6rem;
}

.card-avninder .card .front {
  -webkit-transform: perspective(60rem) rotateY(0deg);
          transform: perspective(60rem) rotateY(0deg);
}

.card-avninder .card .back {
  background: #f1f1f1;
  -webkit-transform: perspective(60rem) rotateY(180deg);
          transform: perspective(60rem) rotateY(180deg);
}

.card-avninder .card .back .back-content {
  color: #2e3c50;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-avninder .card .back .back-content .sm a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2e3c50;
  font-size: 18px;
  -webkit-transform: 0.4s;
          transform: 0.4s;
  border-radius: 50%;
  text-decoration: none;
}

.card-avninder .card .back .back-content .sm a:hover {
  background: #2e3c50;
  color: white;
}

.card-avninder .card:hover > .back {
  -webkit-transform: perspective(60rem) rotateY(0deg);
          transform: perspective(60rem) rotateY(0deg);
}

.card-avninder .card:hover > .front {
  -webkit-transform: perspective(60rem) rotateY(-180deg);
          transform: perspective(60rem) rotateY(-180deg);
}

@media screen and (max-width: 768px) {
  html, body {
    font-size: 6px;
  }
  #header {
    height: 70vh;
  }
  #footer{
    height: 30vh;
  }
  .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */
