
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@500&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html {
    font-size: 62.5%;
}

body {
    background-color: #8395a7;
    padding: 0 .2rem 0 .5rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: none;
}

.navbar .nav-links {
  display: flex;
  list-style-type: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar .nav-links li {
  margin: 0 1rem;
  padding: 1rem;
  position: relative;
}

.navbar .nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f7f1e3;
  transition: all 0.5s;
  font-size: 2rem;
}

.navbar .nav-links li a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 15%;
    left: 0;
    background: #130f40;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.navbar .nav-links li a:hover {
    color: #130f40;
}

.navbar .nav-links li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        transition: all .8s linear;
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: none;
        width: 100%;
        flex-direction: row;
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        opacity: 1;
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li a {
        font-size: 4rem;
    }
    li.fade {
        opacity: 1;
    }



@media screen and (max-width: 768px) {
    html, body{
        font-size: 6px;
    }
}   

header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        rgba(20, 136, 204, 0.8),
        rgba(43, 50, 178, 0.8) ),
     url(image1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.primary-heading {
    text-transform: uppercase;
    color: white;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.primary-heading-main {
    font-size: 6rem;
    font-weight: 400;
    padding-left: 1.4rem;
    font-family: 'Raleway', sans-serif;
    display: block;
    letter-spacing: 1.25rem;
    animation: moving-right 1.3s ease-in;
}
.primary-heading-sub {
    font-size: 20px;
    font-weight: 700;
    display: block;
    color: #fbc531;
    letter-spacing: .75rem;
    animation: moving-left 1.3s ease-in;
}

.logo-box {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    height: 15rem;
    background: none;
}

@keyframes moving-right {
    0% {opacity: 0 ; transform:translate(-10rem)}
    80% {transform: translateX(1rem);}
    100% {opacity: 1;transform: translateX(0);}
}
@keyframes moving-left {
    0% {opacity: 0 ; transform:translate(10rem)}
    80% {transform: translateX(1rem);}
    100% {opacity: 1;transform: translateX(0px);}
}
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 10rem;
    cursor: pointer;
    transition: all .4s;
    position: relative;
    font-size: 1.6rem;
    font-weight: 900;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-white {
    background-color: #fff;
    color: #222;
}

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
    color: #777;
}

.btn:hover::after {
    transform: scale3d(1.4, 1.6, 1);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottomUp .8s ease-in .75s;
    animation-fill-mode: backwards;
}

@keyframes moveInBottomUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
	20%, 50%, 80%, to {
        opacity: 0;
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10rem);
	}
	70% {
		transform: translateY(-2rem);
	}
	90% {
        transform: translateY(0);
        opacity: 1;
	}
}

#main-intro {
    height: 100vh;
    margin-top: 2rem;
    background: #1e3c72;  
    background: linear-gradient(to bottom right, #030a35, #3438f5); 
    padding: 3rem;
    clip-path: polygon(50% 0%, 100% 10%, 100% 85%, 50% 100%, 0 85%, 0 10%);
    padding-bottom: 2.5rem;
}

#heading-text {
    font-size: 7rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 2.5rem 2rem;
    color: #acff3e;
    animation: bounce 1.2s linear;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.section-text {
    margin-top: 3rem;
}

.text-content {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 4rem 10%;
    color: #ffeaa7;
    word-wrap: normal;
    animation: bounce 1.2s linear;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.text-content span {
    color: #fbc531;
}

.text-content span p {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;;
    color: #eb2f06;
    display: inline;   
}

#project-intro {
    height: 100vh;
    margin-top: 2rem;
    background: #1e3c72;  
    background: linear-gradient(to bottom right, #030a35, #3438f5); 
    padding: 3rem;
    clip-path: polygon(50% 0%, 100% 10%, 100% 85%, 50% 100%, 0 85%, 0 10%);
    padding-bottom: 2.5rem;
}









#about-us {
    height: 100vh;
    margin-top: 2rem;
    background: #1e3c72;  
    background: linear-gradient(to bottom right, #030a35, #3438f5); 
    clip-path: polygon(0 100%, 100% 100%, 100% 15%, 50% 0, 0 15%);
    display: flex;
    align-items: justify;
    position: relative;
}

#about-us #head-main-about {
    position: absolute;
    top: 5%;
    left: 28%;
    font-size: 8rem;
    font-weight: 500;
    margin: 6rem;
    color: white;
    font-family: "lato", sans-serif;
    animation: moveInBottomUp 1s linear;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#about-us .buttons .btn-gautam {
    position: absolute;
    top: 50%;
    left: 40%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#about-us .buttons .btn-avninder {
    position: absolute;
    top: 60%;
    left: 40%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

#about-us .buttons .btn-red {
    background-color: #c0392b;
    color: #f1c40f;
    width: 25rem;
    font-size: 1.5rem;
    text-align: center;
}

.card-gautam .middle {
	position: absolute;
	left: 6%;
	top: 35%;
}
.card-gautam .card {
	cursor: pointer;
	width: 32rem;
    height: 45rem;
    animation: moving-right 1s linear;
}
.card-gautam .card .front,.card-gautam .card .back {
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}
.card-gautam .card .front img {
	height: 100%;
}
.card-gautam .card .front {
	transform: perspective(60rem) rotateY(0deg);
}
.card-gautam .card .back {
	background: #f1f1f1;
	transform: perspective(60rem) rotateY(180deg);
}
.card-gautam .card .back .back-content {
	color: #2e3c50;
	text-align: center;
    width: 100%;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-gautam .card .back .back-content .sm a {
	display: inline-flex;
	width: 4rem;
	height: 4rem;
	justify-content: center;
	align-items: center;
	color: #2e3c50;
	font-size: 18px;
	transform: 0.4s;
    border-radius: 50%;
    text-decoration: none;
}
.card-gautam .card .back .back-content .sm a:hover {
	background: #2e3c50;
	color: white;
}
.card-gautam .card:hover > .back {
	transform: perspective(60rem) rotateY(0deg);
}
.card-gautam .card:hover > .front {
	transform: perspective(60rem) rotateY(-180deg);
}


.card-avninder .middle {
	position: absolute;
	left: 65%;
	top: 35%;
}
.card-avninder .card {
	cursor: pointer;
	width: 34rem;
    height: 45rem;
    animation: moving-left 1s linear;
}
.card-avninder .card .front, .card-avninder .card .back {
	width: 100%;
	height: 100%;
	overflow: hidden;
    backface-visibility: hidden;
    text-align: center;
    position: absolute;
	transition: transform .6s linear;
}
.card-avninder .card .front img {
	height: 100%;
}
.card-avninder .card .front {
	transform: perspective(60rem) rotateY(0deg);
}
.card-avninder .card .back {
	background: #f1f1f1;
	transform: perspective(60rem) rotateY(180deg);
}
.card-avninder .card .back .back-content {
	color: #2e3c50;
	text-align: center;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-avninder .card .back .back-content .sm a {
	display: inline-flex;
	width: 4rem;
	height: 4rem;
	justify-content: center;
	align-items: center;
	color: #2e3c50;
	font-size: 18px;
	transform: 0.4s;
    border-radius: 50%;
    text-decoration: none;
}
.card-avninder .card .back .back-content .sm a:hover {
	background: #2e3c50;
	color: white;
}
.card-avninder .card:hover > .back {
	transform: perspective(60rem) rotateY(0deg);
}
.card-avninder .card:hover > .front {
	transform: perspective(60rem) rotateY(-180deg);
}

#footer {
    height: 50vh;
    background-image: linear-gradient(to bottom, rgb(0, 15, 102), rgb(56, 0, 105)) ;  
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
}
.one{
    padding: 6rem 12rem;
    width: 50%;
}
.two{
    padding: 2rem 10rem;
    width: 50%;
    position: relative;
}
#footer-head {
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 38, 0);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.footer-div-head {
    color: white;
    font-size: 4.5rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.headpart{
    color: rgb(245, 46, 46);
}
.footer-body{
    display: flex;
    flex-direction: row;
}
.two h2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 1.5rem;
    font-weight: 500;
    color: thistle;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.footer-icon-holder {
    font-size: 3rem;
    margin-top: 0.7rem;
    margin-left: 3rem;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
.span1 {
    color: yellow;
}
.email-input{
    width: 88%;
    height: 3.8rem;
    padding: 0.7rem 1.2rem;
    font-weight: 600;
    border-radius: 2rem;
    margin-bottom: 1rem;
    border: none;
    color: black;
    outline-style: none;
}
.text-input{
    width: 100%;
    height: 10rem;
    border-radius: 1.2rem;
    resize: none;
    padding: 0.9rem 1.2rem;
    font-weight: 600;
    outline-style: none;
}
.two form button {
    position: absolute;
    top: 6.8rem;
    right: 10.5rem;
    border: none;
    padding-bottom: 0rem;
    border-radius: 1rem;
    font-size: 4rem;
    height: 0rem;
    transition: 0.4s;
    background-color: rgb(21, 173, 21);
    color: white;
    outline-style: none;
}
.two form button:hover {
    transition: 0.4s;
    color: rgb(57, 221, 57);
}
.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    margin: 0.3rem 0.2rem;
    transition: 0.5s;
    color: rgb(204, 200, 200);
}
.icon1:hover{
    transition: 0.5s;
    color: rgb(3, 44, 179);
}
.icon2:hover{
    transition: 0.5s;
    color: rgb(4, 149, 245);
}
.icon3:hover{
    transition: 0.5s;
    color: rgb(216, 4, 4);
}
.icon4:hover{
    transition: 0.5s;
    color:  #ff4d4d;
}
.icon5:hover{
    transition: 0.5s;
    color: rgb(0, 0, 0);
}
.icon6:hover {
    transition: 0.5s;
    color: #535c68;
}

.end-footer-text {
    position: absolute;
    bottom: 5%;
    left: 35%;
}

.end-footer-text p {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

.end-footer-text p a {
    color: Yellow;
    text-decoration: none;
}

.active {
    background-color: #12141483;
    width: 100vw;
    color: rgb(0, 0, 0);
    transition: all .8s;
}